.Projects__items {
  margin-top: 100px;
}
.Projects__row {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 20px;
}
.Projects__column {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 20px;
}
.Projects__item {
  display: block;
  background-color: #fff;
  height: 320px;
  width: 350px;
}
.Projects__image {
  display: block;
  height: 200px;
  width: 100%;
}
.Projects__link {
  text-decoration: none;
}
.Projects__about {
  padding: 10px;
  color: #000;
}

